.form-modal-main {
    
}

.form-modal-box {
    background-color: #353535;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    outline: none;
    box-shadow: 0px 0px 20px 5px #535C91;
}

.form-input .MuiInputBase-root {
    color: #ffffff; /* Change text color */
}

.form-input .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff; /* Change outline color */
}

.form-input .MuiInputLabel-root {
    color: #ffffff; /* Change label color */
}

.form-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff; /* Change outline color when focused */
}

.form-input .MuiInputLabel-root.Mui-focused {
    color: #ffffff; /* Change label color when focused */
}

.form-textarea {
    width: 100%;
    background-color: transparent;
    color: white;
}