

.main-container {
    max-width: 65vw;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    border-radius: 25px;
    box-shadow: 0 0 8px 3px rgb(215, 215, 215);
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}